/* Efeito de flutuação suave */
.float-img {
    animation: float 4s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-10px);
    }
    100% {
        transform: translatey(0px);
    }
}

.pricing-card {
    transition: transform 0.3s, box-shadow 0.3s;
    height: 100% !important; /* Garante que todos os cards terão a mesma altura */
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
}


.pricing-card:hover {
    transform: translateY(-10px) !important; /* Eleva o card ao passar o mouse */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1) !important; /* Efeito de sombra */
}

.btn-primary:hover  {
    background-color: #009e98 !important; /* Muda a cor no hover para uma tonalidade um pouco mais escura */
    border-color: #009e98 !important;
}

.whatsapp-btn {
    position: fixed !important;
    bottom: 10px !important;
    right: 10px !important;
    display: flex !important;
    align-items: center !important;
    background-color: #fff !important;
    border-radius: 50px !important;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
    padding: 10px !important;
    z-index: 1000 !important;
}

.whatsapp-btn a {
    display: flex !important;
    align-items: center !important;
    text-decoration: none !important;
}

.whatsapp-text {
    padding-right: 10px !important;
}

.whatsapp-text p {
    font-size: 14px !important;
    color: #333 !important;
    margin: 0 !important;
}

.whatsapp-icon img {
    width: 40px !important;
    height: 40px !important;
}

/* Apenas o ícone no mobile */
@media (max-width: 768px) {
    .whatsapp-text {
        display: none !important;
    }

    .whatsapp-btn {
        padding: 10px !important;
        background-color: transparent !important; /* Remove o fundo */
        box-shadow: none !important; /* Remove a sombra */
        bottom: 1px !important;
        right: 1px !important;
    }

    .whatsapp-icon img {
        width: 50px !important;
        height: 50px !important;
    }
}



 /* Estilo do Modal */
 #checkoutFormModal {
    display: none; /* Inicialmente oculto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    position: relative;
    box-sizing: border-box;
    margin: 5% auto;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}

.form-header {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.step-number {
    background-color: #4a4a4a;
    color: white;
    font-size: 1em;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.form-description {
    font-size: 0.9em;
    color: #666666;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group label i {
    margin-right: 5px;
    color: #4a4a4a;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    outline: none;
    box-sizing: border-box;
}

.form-group input::placeholder {
    color: #aaa;
}

.btn-submit {
    width: 100%;
    padding: 12px;
    background-color: #00b33c;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-submit i {
    margin-left: 5px;
}

.btn-submit:hover {
    background-color: #00992b;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    .modal-content {
        width: 80% !important; /* Reduz o tamanho do modal em telas pequenas */
        padding: 15px !important;
        margin: 5% auto !important; /* Centraliza o modal mais adequadamente em telas menores */
    }

    .form-header {
        font-size: 1em !important;
    }

    .form-group input {
        padding: 8px !important;
    }

    .btn-submit {
        padding: 10px !important;
        font-size: 0.9em !important;
    }

    .form-description {
        font-size: 0.85em !important;
    }
}
